/*Element Selectors*/
body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
}

main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}

p {
    color: rgb(39, 39, 39);
    margin-right: 230px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: blueviolet;
    text-decoration: none;
}




/*ID Selectors*/
#header {
    background-image: url('https://cosaari.github.io/blueCrystal.gif');
    /*background: #ccc;*/
    height: 100px;
}

#header h1 {
    margin: 0;
    padding-top: 15px;
}

#nav {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 150px;
    margin-left: -100%;
    background: #eee;
}

#footer {
        clear: left;
        width: 100%;
        background-image: url('https://i.pinimg.com/originals/4c/ba/b9/4cbab97eaf40a31982176951814d0c11.gif');
        text-align: center;
        padding: 4px 0;
    }

#wrapper {
    overflow: hidden;
}
            
#content {
    margin-left: 150px; /* Same as 'nav' width */
}



/*Class Selectors*/
.innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
}